{box-sizing: border-box;}

html {
  font-size:65%;
}
.inclusive {
	width: 96%;
	margin:0 auto;
}

.m_top {
	display: flex;
	justify-content: space-between;
	align-items: top;
	min-height: 200px;
	margin-top: 18px;
}

.m_top .logo {
	text-align: center;
	color:#fff;
}

.m_top .logo h1 {
	font-size:3rem;
	letter-spacing: .5rem;
}

body,h1,h2,h3,ul {
  margin: auto;
  padding:0;
}
.total-cost {
            font-family: 'Copperplate', fantasy;
            font-size: 24px; /* Adjust font size as needed */
            color: #FAF9F6; /* Change text color for appeal */
        }
       

.selected-gym {
    font-family: 'Arial', sans-serif; /* Change font family for selected gym */
    font-size: 50px; 
color:#FAF9F6;/* Adjust font size as needed */
    font-weight: bold; /* Make the font bold */
    /* Add any other styling you want for the selected gym */
}
        .default {
            text-align: center;
        }
ul {
  list-style: none;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
	font-size: 16px;
	margin-top: 20px;
}

button:hover {
	background-color: #EE4B2B;
}

body {
  font-family: 'Segoe UI', Calibri, consolas, sans-serif;
  background-color: #000000;
  background-image: url("img/blog-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: cover;	
  background-size: 100%;
  opacity: 0.6;
}

div.default {
  background-color: red;
  width: 780px;
  height: 790px;
  position: absolute;
  top: 20%;
  left: 25%;
  margin: auto;
  font-size: 2rem;
  padding: 15px;
  border-radius: 10px;
  opacity: 1.0;
}

div.default h1 {
  text-align: center;
  margin-top: 20px;
}

.bground {
	background-color: black;
}

.inclusive {
	width: 96%;
	margin:0 auto;
}

.m_top {
	display: flex;
	justify-content: space-between;
	align-items: top;
	min-height: 200px;
	margin-top: 18px;
}

.m_top .logo {
	text-align: center;
	color:#fff;
}

.m_top .logo h1 {
	font-size:3rem;
	letter-spacing: .5rem;
}

.m_top .menu ul {
	display: flex;
}
.m_top .menu ul li {
	margin:0 1rem;
}

.m_top .menu ul a {
	color:#fff;
	text-decoration: none;
	font-size:1.8rem;
	padding:0 2rem;
}
.m_top .menu ul a:hover {
	color:#FCB941;
}


.middle .unite1 {
	margin-top:20px;
	border:1px solid #bebebe;
	padding:20px;
}

.middle .unite1 img {
	display: block;
	width: 100%;
}

.middle .unite2 {
	margin-top:20px;
	display: flex;
	justify-content: space-between;
}
.middle .unite2 .box {
	flex-basis: 290px;
}

.middle .unite2 .box h2 {
	font-size: 2rem;
}

.middle .unite2 .box p {
	font-size: 1.6rem;
}

.middle .unite3 {
	display: flex;
	justify-content: space-between;
	gap:20px;
}

.middle .unite3 h1 {
	font-size:2.5rem;
}

.middle .unite3 p {
	font-size:1.6rem;
	font-size:14pt;
	font-size:20px;
}

.bottom {
	margin-top:20px;
	padding:20px 0;
	display: flex;
	gap:20px;
}
.bottom .connect {
	flex-grow: 1;
}

.bottom .connect ul li {
	border-bottom:dotted 1px #FCB941;
	margin:5px 0;
}

.bottom .connect a {
	font-size:1.6rem;
	text-decoration: none;
	color:#FCB941;
}

.line {
	border-top:dotted 1px #FCB941;
	margin:20px 0;
}